<div class="jumbotron" *ngIf="showMessage">
  <h2 id="message-heading">Thank you!</h2>
  <p>Your message was sent.</p>
</div>

<div class="jumbotron" *ngIf="!showMessage">
  <h2>Contact Us</h2>
  <p class="required-msg">All fields marked with <span aria-hidden="" class="required">*</span><span class="sr-only">Required, </span> are required. </p>

  <div id="error-bucket" class="error-notice">
    <h3 id="error-heading" [class.has-error]="hasError">
      <span><img src="assets/images/error.png" alt=""> Oops, something went wrong, please review errors below.</span>
    </h3>
    <ul id="error-list" [ngClass]="{'error-list': true, 'has-error': hasError}">
    </ul>
  </div>

  <form [formGroup]="complexForm" (ngSubmit)="submitForm(complexForm.value)">

    <div class="form-group" [ngClass]="{'has-error':!complexForm.controls['firstName'].valid && submitted}">
      <label>
        <span class="required">*</span>
        First Name:
      </label>
      <input id="firstName" class="form-control" type="text" [formControl]="complexForm.controls['firstName']">
			<span class="errors">
            <span *ngIf="complexForm.controls['firstName'].hasError('required') && submitted" class="error">must not be empty</span>
        </span>
    </div>

    <div class="form-group" [ngClass]="{'has-error':!complexForm.controls['lastName'].valid && submitted}">
      <label>
          <span class="required">*</span>
          Last Name:
      </label>
      <input id="lastName" class="form-control" type="text" [formControl]="complexForm.controls['lastName']">
      <span class="errors">
        <span *ngIf="complexForm.controls['lastName'].hasError('required') && submitted" class="error">must not be empty</span>
        </span>
    </div>

    <div class="form-group phone-number-container" [ngClass]="{'has-error':!complexForm.controls['phoneNumber'].valid && submitted}">
      <label>
          <span class="required">*</span>
          Phone Number:
      </label>
      <input id="phoneNumber" class="form-control" type="tel" [formControl]="complexForm.controls['phoneNumber']">
			<span class="errors">
										<span *ngIf="complexForm.controls['phoneNumber'].hasError('required') && submitted" class="error">must not be empty</span>
										<span *ngIf="complexForm.controls['phoneNumber'].hasError('minlength') && submitted" class="error">Your phone number must be at least 7 numbers long.</span>
										<span *ngIf="complexForm.controls['phoneNumber'].hasError('pattern') && submitted" class="error">Your phone number must be a valid format.</span>
			</span>
    </div>

    <div class="form-group" [ngClass]="{'has-error':!complexForm.controls['message'].valid && submitted}">
      <label>
          <span class="required">*</span>
          Message:
      </label>
      <textarea id="message" class="form-control" [formControl]="complexForm.controls['message']"></textarea>
		  <span class="errors">
        <span *ngIf="complexForm.controls['message'].hasError('required') && submitted" class="error">must not be empty</span>
      </span>
    </div>

    <div class="form-group">
      <button id="formSubmit"  type="submit" class="btn btn-primary">Submit</button>
    </div>
  </form>
</div>
