<div class="container">
  <header class="header">
    <a ng-href="#main" href="#main">
      <img src="assets/images/Level-Access-Logo.png" id="la-logo" alt="Level Access">
    </a>
  </header>
  <main class="main" id="main">
    <h1> {{title}}
      <span>{{subtitle}}</span>
    </h1>
    <div id="like-container">
        <button type="button" id="like-button" class="btn btn-primary" (click)="addToCounter()">
            <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
            <span class="sr-only">Like Us</span>
        </button>
        <span id="like-count">
             {{likeCounter}}
             <span class="sr-only">Current Likes</span>
        </span>
    </div>
    <div class="row">
      <div>
        <app-form-validation></app-form-validation>
      </div>
    </div>
  </main>
  <footer class="footer">
    <p>Copyright © 2018 Level Access. All Rights Reserved.</p>
  </footer>
</div>
<span  role="status"  aria-atomic="true" aria-live="polite" class="sr-only" id="aria-live-reader-container">{{ariaLiveAnnouncement}}</span>
